# Exclude the models and dataset
models/*
data/*
notebooks/*
env/hf.env
compose/*

milvus_test.py
second_milvus_test.py

__pycache__/
.pytest_cache/



# Keep a structural reference to the directories for replication
!models/.gitkeep

!data/.gitkeep

!notebooks/*.ipynb

!compose/*.yml